{% load static %}
<title>IPLFFL2021</title>
<base href="/">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'ipl2021/css/matches.css' %}"/>
<link rel="stylesheet" href="https://cdn.datatables.net/autofill/2.3.9/css/autoFill.dataTables.min.css">
<script rel="stylesheet" href="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><h3-font>IPL2021-FFL</h3-font></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'matches' %}"><font>Match details</font></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"href="{% url 'players' %}"><font>Players</font></a>
      </li>
    </ul>
    <ul class="navbar-nav ms-0">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><font>Logout</font></a>
      </li>
    </ul>
  </div>
</nav>


<main role="main">
  <div class="container">
    <div class="row my-5 ms-0">
      <h1> <h3-font>Leaderboard  :</h3-font></h1>
    </div>
    <div class="row my-5 ms-0">
      <ul>
        <md1-font><li>Leading in total points is <b><i>{{points.0.0}}</i></b> with <b><i>{{ points.0.1 }}</i></b> points. </li></md1-font>
      </ul>
      <ul>
       <md1-font><li>Leading in total wins is <b><i>{{wins.0.0}}</i></b> with <b><i>{{ wins.0.1 }}</i></b>.</li></md1-font>
      </ul>
      <ul>
       <md1-font><li>Leading in last week total is <b><i>{{week.0.0}}</i></b> with <b><i>{{ week.0.1 }}</i></b> points.</li></md1-font>
      </ul>
      <ul>
       <md1-font><li>Leading in total no.of runs by the teams selected is <b><i>{{runs.0.0}} </i></b>with <b><i>{{ runs.0.1 }} </i></b>runs.</li></md1-font>
      </ul>
      <ul>
       <md1-font><li>Leading in total no.of 4's hit by the teams selected is <b><i>{{runs.1.0}} </i></b>with <b><i>{{ runs.1.1 }} </i></b>fours.</li></md1-font>
      </ul>
      <ul>
       <md1-font><li>Leading in total no.of 6's hit by the teams selected is <b><i>{{runs.2.0}} </i></b>with <b><i>{{ runs.2.1 }} </i></b>sixes.</li></md1-font>
      </ul>
      <ul>
       <md1-font><li>Leading in least no.of wickets fallen by the teams selected is <b><i>{{runs.3.0}} </i></b>with <b><i>{{ runs.3.1 }} </i></b>wickets.</li></md1-font>
      </ul>

    </div>
  </div>
</main>
