<!DOCTYPE html>
{% load static %}
<html>
<head>
      <title>IPLFFL2021</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
	  <link rel="stylesheet" href="{% static 'ipl2021/css/style.css' %}"/>
	  <link rel="stylesheet" href="{% static 'ipl2021/css/bootstrap.min.css' %}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="page-header header_site">
            <h1><font>IPL2021 - Family Fantasy League</font></h1>
        </div>
    </div>
</div>
	<div class="Container">
		<div class="row vh-100 align-items-center justify-content-center">
			<div class="col-sm-8 col-md-6 col-lg-4 p-4 shadow">
				<div class="row justify-content-center mb-4">
					<h4>Login Details :</h4>
				</div>
				<form method="POST">
					{% csrf_token %}
					<div class="mb-4">
						<label for="Username" class="form-label">Username</label>
						<input type="Username" class="form-control" id = "username" name="username" required>
					</div>
					<div class="mb-4">
						<label for="Password" class="form-label">Password</label>
						<input type="password" class="form-control" id = "password" name="password" required>
					</div>
					<div class="mb-4 form-check">
						<input type="checkbox" class="form-check-input" id="remember">
						<label class="form-check-label" for="remember">Remember Me</label>
					</div>
					<button type="submit" class="btn btn-success w-100">Login</button>
				</form>
				<br>
				<p class="mb-4 text-center">Not Registered Yet?<a href="/signup" class ="text-decoration-none">Sign Up</a></p>
				{% for message in messages %}
					<div class="row justify-content-center mb-4 alert alert-danger" role="alert">
						<label> {{message}} </label>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>

</html>
