body {
      background-image: url('{% static "/ipl2021/media/ipl.png" %}');
      height: 100%;
      width:100%
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
	}